@{
    var contestlist = ViewBag.Contestlist;
}

<div class="card-block">
    <form id="PackageFilterForm" class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Status</label>
            <select name="status" class="form-control" asp-items="@ViewBag.Conteststatuslist">
                <option value="">All</option>

            </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Competition Name</label>
            <select name="ContestId"
                    onchange="Cascadedropdown('@Url.Action("GetSubContest","VotingContestant")','?ContestId='+this.value,'subcontestchangeId');"
                    class="form-control">
                <option value="0">All</option>
                @foreach (var contest in contestlist)
                {
                    <option value="@contest.Id">@contest.Text</option>
                }

            </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Sub Competition Name</label>
            <select name="SubContestId" id="subcontestchangeId" class="form-control" asp-items="@ViewBag.SubContestlist">
                <option value="">All</option>

            </select>
        </div>

        <input type="hidden" id="Export" name="Export" />
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1"></label>
            <button type="submit" id="btnPackageFilter" class="btn btn-md btn-primary form-control quick-btn">Filter</button>
        </div>
    </form>
</div>

<script type='text/javascript' src="~/js/ValidationScript.js"></script>