@using VotingAdmin.Web.Models.Merchants;
@inject IHttpContextAccessor accessor;

@{
    var username = accessor.HttpContext.User.Identity.IsAuthenticated
       ? accessor.HttpContext.User.FindFirst(claim => claim.Type.Equals("username", StringComparison.InvariantCultureIgnoreCase))?.Value ?? "User"
       : "User";
    var contestlist = ViewBag.Contestlist;
    var statuslist = ViewBag.Conteststatuslist;
    var data = ViewBag.merchant as IEnumerable<MerchantDdl>;
}
<div class="card-block">
    <form id="ReportFilterForm" class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <lable>From</lable>
                <input type="date" onkeydown="return false" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="FromDate" id="d_today" class="form-control" placeholder="FromDate">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <lable>To</lable>
                <input type="date" onkeydown="return false" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ToDate" class="form-control" placeholder="ToDate">
            </div>
        </div>
        @if (username == "admin")
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">

                    <label for="">Choose Merchant</label>
                    <select name="MerchantId" class="form-control">
                        <option value="admin">All</option>
                        @foreach (var merchant in data)
                        {
                            <option value="@merchant.Value">@merchant.Text</option>
                        }
                    </select>
                
               
            </div>
        </div>
        }
         <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <label>Status</label>
                <select name="Status" class="form-control" >
                    <option value="">All</option>
                    @foreach (var status in statuslist)
                    {
                        if (status.Id != 2)
                        {
                            <option value="@status.Id">@status.Text</option>
                        }
                        
                    }
                        
                    
                   
                </select>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Competition Name</label>
            <select name="ContestId"
                    onchange="Cascadedropdown('@Url.Action("GetSubContest","VotingContestant")','?ContestId='+this.value,'subcontestIdchange');"
                    class="form-control" >
                <option value="0">All</option>
                @foreach (var contest in contestlist)
                {
                    <option value="@contest.Id">@contest.Text</option>
                }

            </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Sub Competition Name</label>
            <select name="SubContestId" id="subcontestIdchange" class="form-control" asp-items="@ViewBag.SubContestlist">
                <option value="">All</option>

            </select>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Contestant Name</label>
            <input type="text" name="ContestantName" class="form-control" placeholder="Contestant Name" />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Member Email</label>
            <input type="text" name="MemberEmail" class="form-control" placeholder="Member Email" />
        </div>
        @*need to update*@
        <div class="col-sm-6 col-md-4 col-lg-3">
            <label for="exampleInputEmail1">Payment Method</label>
           
            <select name="PaymentMethodCode" class="form-control" asp-items="@ViewBag.Paymentmethod">
                <option value="">All</option>

            </select>
        </div>
        
            <input type="hidden" id="Export" name="Export" />
            <div class="col-sm-6 col-md-2">
                <button type="submit" id="btnReportFilter" class="btn btn-md btn-primary form-control quick-btn">Filter</button>
            </div>
   
    </form>
</div>

<script type='text/javascript' src="~/js/ValidationScript.js"></script>