@using VotingAdmin.Web.Dtos.Roles;

@model AssignUserRoleDto
@{

}
<form id="formassignuserrole" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <li class="text-danger">@error</li>
            }
        }
    </ul>
    <div class="row">
        <input asp-for="user_id" value="@ViewBag.UserId" type="hidden" />
        <div class="col-sm-6 mb-3">
            <label for="exampleInputEmail1">Full Name</label>
            <input value="@ViewBag.Email" type="email" class="form-control" disabled>
        </div>
        <div class="col-sm-6 mb-3">
            <label for="exampleInputEmail1">Username </label>
            <input value="@ViewBag.UserName" type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-center">Available Role</h6>
        </div>
        <div class="col-sm-6">
            <h6 class="text-center">Selected Role</h6>
        </div>
        <div class="col-sm-12 mb-5">
            @Html.ListBoxFor(model => model.roleid, new MultiSelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "my-select" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

<script src="~/assets/js/pages/form-select-custom.js"></script>
<script>

      FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("AssignUserToRole", "Users")',
        containerSelector: '#add-new .modal-body',
          selector: '#formassignuserrole'
      }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
          $("#add-new").modal('hide');
          //    new PNotify({
          //    // title: 'Success ',
          //    text:'Assign Role To User Successfully  ',
          //    type: 'success',
          //    animation: {
          //        effect_in: 'fade',
          //        effect_out: 'slide'
          //    }

          //});
        Pagination.getData();
    });
</script>